{% extends "base.html" %}

{% block title %}{{ object.name }}, Client Details{% endblock %}
{% block page_title %}
	{{ object.name }}{% if not object.active %} <span class="content-subhead">(inactive)</span>{% endif %}
{% endblock %}
{% block page_subtitle %}
<a href="{% url 'client_edit' object.pk %}" class="pure-button button-edit button-xsmall">Edit</a>
{% endblock %}

{% block page_content %}
	<div class="pure-g">
		<div class="pure-u-1-3">
			<h2 class="content-subhead">Contact Details</h2>
			<p>Phone: {{ object.primary_phone }}</p>
			<p>Accounts Phone:{{ object.accounts_phone }}</p>
		</div>
		<div class="pure-u-1-3">
			<h2 class="content-subhead">Address</h2>
			{% for addy in address %}
				<p>{{ addy.html|safe }}</p>
			{% endfor %}
		</div>
		<div class="pure-u-1-3">
			<h2 class="content-subhead">Notes</h2>
			<p>{{ object.notes }}</p>
		</div>
	</div>
	<h2>Orders</h2>
	{% for bake, sot in bake_standing_order_tables.items %}
		<h2 class="content-subhead">{{ bake }} <a href="{% url 'client_bake_edit' object.pk bake.pk %}"
		                                          class="pure-button button-edit button-xsmall">Edit</a></h2>
		{% include "orders/standingorders_pivot_table.html" with caption="Standing Order Totals" %}
	{% endfor %}
	
{% endblock %}