{% extends "base.html" %}

{% block title %}Clients{% endblock %}
{% block page_title %}Clients{% endblock %}
{% block page_subtitle %}
<a href="{% url 'client_new' %}" title="Create a new client" class="pure-button button-create button-small">New</a>
{% endblock %}

{% block page_content %}
	<h2 class="content-subhead">Active</h2>
	<ul>
		{% for client in object_list %}
			{% if client.active %}
				<li><a href="{{ client.get_absolute_url }}">{{ client.name }}</a> ph.{{ client.primary_phone }}</li>
			{% endif %}
		{% endfor %}
	</ul>

	<h2 class="content-subhead">Inactive</h2>
	<ul>
		{% for client in object_list %}
			{% if not client.active %}
				<li><a href="{{ client.get_absolute_url }}">{{ client.name }}</a> ph.{{ client.primary_phone }}</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endblock %}